<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python
<li>R
<li>Java
<li>C++

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>NumPy
    <li>Pandas
    <li>Scikit-learn

|Data Science Tools|
|:-----------------|
|JupyterLab        |
|Visual Studio Code|
|Anaconda          |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List popular Python Libraries for Data Science
- List popular Tools for Data Science
- Examples for arithmetic expressions in Python

<h2>Author</h2>
Muppaneni Lokesh Chowdary